<div class="row">
  <div class="col-md-12 mt-3 mb-3 p-3 eventos">
    <h2>Eventos próximos</h2>
    <div class="event-card">
      <div class="date-section">
        <span class="month">Oct</span>
        <span class="day">11</span>
      </div>
      <div class="details-section">
        <h3>
          Promoción de la salud mental desde la primera infancia y crianza
          positiva
        </h3>
        <p>11 a.m. - Sesión virtual Microsoft TEAMS</p>
      </div>
    </div>
    <div class="event-card">
      <div class="date-section">
        <span class="month">Oct</span>
        <span class="day">10</span>
      </div>
      <div class="details-section">
        <h3>
          Promoción de la salud mental desde la primera infancia y crianza
          positiva
        </h3>
        <p>11 a.m. - Sesión virtual Microsoft TEAMS</p>
      </div>
    </div>
    <div class="event-card">
      <div class="date-section">
        <span class="month">Oct</span>
        <span class="day">09</span>
      </div>
      <div class="details-section">
        <h3>
          Promoción de la salud mental desde la primera infancia y crianza
          positiva
        </h3>
        <p>11 a.m. - Sesión virtual Microsoft TEAMS</p>
      </div>
    </div>
  </div>
</div>
